body {
    background-color: rgb(0, 136, 255);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.heading {
    font-family: "roboto", cursive;
    margin: 35px auto 20px;
}

hr {
    border-top: 2px solid rgb(255, 255, 255);
    width: 40%;
    margin-bottom: 55px;
}

.main {
    width: 50vw;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(5, 255, 226, 0.5);
    color: rgb(8, 255, 226);
}

label {
    font-size: 20px;
}

.btn {
    width: 200px;
}

#finalAmount {
    font-family: "Lobster", cursive;
    display: none;
    margin: 50px auto;
}

#finalAmount h2 {
    font-size: 50px;
}

.finalValue {
    font-family: "Amiri", serif;
}

@media (max-width: 768px) {
    hr {
        width: 60%;
    }

    .main {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .heading {
        font-size: 60px;
    }

    hr {
        width: 75%;
    }

    #finalAmount h2,
    .finalValue {
        font-size: 40px;
    }
}